# Module 10 Assignment 
Combine 2 datasets (1 from US census and 1 from Maryland) to create new data frame.

In [94]:
import pandas as pd

In [95]:
df = pd.read_excel("County-table1A.xlsx")
df

,Unnamed: 0,"Table 1A. Total Resident Population for Maryland's Jurisdictions, April 1, 2010 Thru July 1, 2020",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,Census,Census,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,State/Jurisdiction,"April 1, 2010","April 1, 2010 Estimates Base*","July 1, 2010","July 1, 2011","July 1, 2012","July 1, 2013","July 1, 2014","July 1, 2015","July 1, 2016","July 1, 2017","July 1, 2018","July 1, 2019","July 1, 2020"
3,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,Maryland,5773552,5773787,5788784,5840241,5888375,5925197,5960064,5988528,6007014,6028186,6042153,6054954,6055802
5,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
6,Baltimore Region,2662691,2662812,2667985,2685791,2706646,2720470,2732242,2742068,2746135,2750212,2752629,2753318,2749022
7,Anne Arundel,537656,537635,539305,544863,550476,555638,559421,563133,567434,571359,575641,579895,582777
8,Baltimore,805029,805311,806654,813021,818218,822426,825201,827796,828941,828956,828547,828503,826017
9,Carroll,167134,167155,167230,167072,167085,167264,167383,167201,167189,167687,168421,168774,169092
10,Harford,244826,244824,245236,246746,248609,248961,249415,249690,250448,251948,253884,255594,256805
11,Howard,287085,287110,288618,293596,299223,303590,306989,311417,315581,319409,322895,325951,328200
12,Baltimore City,620961,620777,620942,620493,623035,622591,623833,622831,616542,610853,603241,594601,586131
13,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
14,Suburban Washington Region,2068582,2068722,2076300,2103245,2127802,2147769,2168922,2185269,2195858,2209222,2215864,2223300,2226589
15,Frederick,233385,233415,234239,237326,239705,241215,243487,245145,247269,251037,255698,260609,265161
16,Montgomery,971777,971279,975619,991325,1005310,1015534,1025063,1033370,1039327,1047239,1048794,1051129,1051816
17,Prince George's,863420,864028,866442,874594,882787,891020,900372,906754,909262,910946,911372,911562,909612
18,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
19,Southern Maryland Region,340439,340451,341920,346150,349293,352480,355041,357409,360476,363837,366958,370157,372195
20,Calvert,88737,88741,88989,89346,89746,90486,90595,90542,91116,91492,92131,92660,93072
21,Charles,146551,146564,147159,149215,150700,152710,154448,155775,157474,159718,161879,163733,164436
22,St. Mary's,105151,105146,105772,107589,108847,109284,109998,111092,111886,112627,112948,113764,114687
23,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
24,Western Maryland Region,252614,252597,252839,253545,253032,252638,251848,251112,251194,250886,250878,250642,250055
25,Allegany,75087,75042,74968,74580,73966,73602,73051,72501,72084,71363,70977,70527,70057
26,Garrett,30097,30139,30144,30158,29976,29981,29669,29451,29395,29276,29202,29049,28852
27,Washington,147430,147416,147727,148807,149090,149055,149128,149160,149715,150247,150699,151066,151146
28,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
29,Upper Eastern Shore Region,239951,239930,240113,240950,240904,240868,240931,241242,241456,241822,242955,243798,244242
30,Caroline,33066,33078,33054,32890,32636,32651,32542,32601,32834,33122,33341,33509,33492
31,Cecil,101108,101091,101161,101583,101780,101940,102252,102453,102609,102509,102816,103092,103419
32,Kent,20197,20195,20213,20258,19987,19833,19801,19745,19708,19486,19467,19426,19192
33,Queen Anne's,47798,47789,47809,48267,48506,48535,48803,49012,49135,49648,50279,50585,51167
34,Talbot,37782,37777,37876,37952,37995,37909,37533,37431,37170,37057,37052,37186,36972
35,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
36,Lower Eastern Shore Region,209275,209275,209627,210560,210698,210972,211080,211428,211895,212207,212869,213739,213699
37,Dorchester,32618,32623,32689,32702,32483,32563,32502,32431,32268,32093,31894,31864,31853
38,Somerset,26470,26470,26464,26268,26044,25968,25581,25705,25873,25922,25637,25609,25453
39,Wicomico,98733,98734,98974,100086,100593,100890,101416,101820,102246,102471,103398,104005,103990
40,Worcester,51454,51448,51500,51504,51578,51551,51581,51472,51508,51721,51940,52261,52403
41,,,,,,,,,,,,,,
42,* 2010 Census estimates base reflects changes ...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
43,"Source: Population Division, U.S. Census Burea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Prepared by the Maryland Department of Plannin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
df[["Unnamed: 0", "Unnamed: 13"]]

                                           Unnamed: 0     Unnamed: 13
0                                                 NaN             NaN
1                                                           Estimate
2                                 State/Jurisdiction    July 1, 2020
3
4                                           Maryland          6055802
5
6                                   Baltimore Region          2749022
7                                      Anne Arundel            582777
8                                         Baltimore            826017
9                                           Carroll            169092
10                                          Harford            256805
11                                           Howard            328200
12                                    Baltimore City           586131
13
14                        Suburban Washington Region          2226589
15                                        Frederick            265161
16                                       Montgomery           1051816
17                                  Prince George's            909612
18
19                          Southern Maryland Region           372195
20                                          Calvert             93072
21                                          Charles            164436
22                                        St. Mary's           114687
23
24                           Western Maryland Region           250055
25                                         Allegany             70057
26                                          Garrett             28852
27                                       Washington            151146
28
29                        Upper Eastern Shore Region           244242
30                                         Caroline             33492
31                                            Cecil            103419
32                                             Kent             19192
33                                      Queen Anne's            51167
34                                           Talbot             36972
35
36                        Lower Eastern Shore Region           213699
37                                       Dorchester             31853
38                                         Somerset             25453
39                                         Wicomico            103990
40                                        Worcester             52403
41
42  * 2010 Census estimates base reflects changes ...             NaN
43  Source: Population Division, U.S. Census Burea...             NaN
44  Prepared by the Maryland Department of Plannin...             NaN

In [97]:
pop = df[["Unnamed: 0", "Unnamed: 13"]]
pop

                                           Unnamed: 0     Unnamed: 13
0                                                 NaN             NaN
1                                                           Estimate
2                                 State/Jurisdiction    July 1, 2020
3
4                                           Maryland          6055802
5
6                                   Baltimore Region          2749022
7                                      Anne Arundel            582777
8                                         Baltimore            826017
9                                           Carroll            169092
10                                          Harford            256805
11                                           Howard            328200
12                                    Baltimore City           586131
13
14                        Suburban Washington Region          2226589
15                                        Frederick            265161
16                                       Montgomery           1051816
17                                  Prince George's            909612
18
19                          Southern Maryland Region           372195
20                                          Calvert             93072
21                                          Charles            164436
22                                        St. Mary's           114687
23
24                           Western Maryland Region           250055
25                                         Allegany             70057
26                                          Garrett             28852
27                                       Washington            151146
28
29                        Upper Eastern Shore Region           244242
30                                         Caroline             33492
31                                            Cecil            103419
32                                             Kent             19192
33                                      Queen Anne's            51167
34                                           Talbot             36972
35
36                        Lower Eastern Shore Region           213699
37                                       Dorchester             31853
38                                         Somerset             25453
39                                         Wicomico            103990
40                                        Worcester             52403
41
42  * 2010 Census estimates base reflects changes ...             NaN
43  Source: Population Division, U.S. Census Burea...             NaN
44  Prepared by the Maryland Department of Plannin...             NaN

In [98]:
pop = pop.rename(columns={"Unnamed: 0": "Counties", "Unnamed: 13": "Population"})
pop

                                             Counties      Population
0                                                 NaN             NaN
1                                                           Estimate
2                                 State/Jurisdiction    July 1, 2020
3
4                                           Maryland          6055802
5
6                                   Baltimore Region          2749022
7                                      Anne Arundel            582777
8                                         Baltimore            826017
9                                           Carroll            169092
10                                          Harford            256805
11                                           Howard            328200
12                                    Baltimore City           586131
13
14                        Suburban Washington Region          2226589
15                                        Frederick            265161
16                                       Montgomery           1051816
17                                  Prince George's            909612
18
19                          Southern Maryland Region           372195
20                                          Calvert             93072
21                                          Charles            164436
22                                        St. Mary's           114687
23
24                           Western Maryland Region           250055
25                                         Allegany             70057
26                                          Garrett             28852
27                                       Washington            151146
28
29                        Upper Eastern Shore Region           244242
30                                         Caroline             33492
31                                            Cecil            103419
32                                             Kent             19192
33                                      Queen Anne's            51167
34                                           Talbot             36972
35
36                        Lower Eastern Shore Region           213699
37                                       Dorchester             31853
38                                         Somerset             25453
39                                         Wicomico            103990
40                                        Worcester             52403
41
42  * 2010 Census estimates base reflects changes ...             NaN
43  Source: Population Division, U.S. Census Burea...             NaN
44  Prepared by the Maryland Department of Plannin...             NaN

In [99]:
pop = pop[7:41]
pop

                        Counties Population
7                 Anne Arundel       582777
8                    Baltimore       826017
9                      Carroll       169092
10                     Harford       256805
11                      Howard       328200
12               Baltimore City      586131
13
14   Suburban Washington Region     2226589
15                   Frederick       265161
16                  Montgomery      1051816
17             Prince George's       909612
18
19     Southern Maryland Region      372195
20                     Calvert        93072
21                     Charles       164436
22                   St. Mary's      114687
23
24      Western Maryland Region      250055
25                    Allegany        70057
26                     Garrett        28852
27                  Washington       151146
28
29   Upper Eastern Shore Region      244242
30                    Caroline        33492
31                       Cecil       103419
32                        Kent        19192
33                 Queen Anne's       51167
34                      Talbot        36972
35
36   Lower Eastern Shore Region      213699
37                  Dorchester        31853
38                    Somerset        25453
39                    Wicomico       103990
40                   Worcester        52403

In [100]:
pop["Counties"] = pop["Counties"].str.strip()
pop

C:\Users\Biniam\AppData\Local\Temp/ipykernel_7992/925767620.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                      Counties Population
7                 Anne Arundel     582777
8                    Baltimore     826017
9                      Carroll     169092
10                     Harford     256805
11                      Howard     328200
12              Baltimore City     586131
13
14  Suburban Washington Region    2226589
15                   Frederick     265161
16                  Montgomery    1051816
17             Prince George's     909612
18
19    Southern Maryland Region     372195
20                     Calvert      93072
21                     Charles     164436
22                  St. Mary's     114687
23
24     Western Maryland Region     250055
25                    Allegany      70057
26                     Garrett      28852
27                  Washington     151146
28
29  Upper Eastern Shore Region     244242
30                    Caroline      33492
31                       Cecil     103419
32                        Kent      19192
33                Queen Anne's      51167
34                      Talbot      36972
35
36  Lower Eastern Shore Region     213699
37                  Dorchester      31853
38                    Somerset      25453
39                    Wicomico     103990
40                   Worcester      52403

In [101]:
pop = pop[pop["Counties"] != ""]
pop

                      Counties Population
7                 Anne Arundel     582777
8                    Baltimore     826017
9                      Carroll     169092
10                     Harford     256805
11                      Howard     328200
12              Baltimore City     586131
14  Suburban Washington Region    2226589
15                   Frederick     265161
16                  Montgomery    1051816
17             Prince George's     909612
19    Southern Maryland Region     372195
20                     Calvert      93072
21                     Charles     164436
22                  St. Mary's     114687
24     Western Maryland Region     250055
25                    Allegany      70057
26                     Garrett      28852
27                  Washington     151146
29  Upper Eastern Shore Region     244242
30                    Caroline      33492
31                       Cecil     103419
32                        Kent      19192
33                Queen Anne's      51167
34                      Talbot      36972
36  Lower Eastern Shore Region     213699
37                  Dorchester      31853
38                    Somerset      25453
39                    Wicomico     103990
40                   Worcester      52403

In [102]:
pop = pop[pop["Counties"].str.contains("Region") == False]
pop

           Counties Population
7      Anne Arundel     582777
8         Baltimore     826017
9           Carroll     169092
10          Harford     256805
11           Howard     328200
12   Baltimore City     586131
15        Frederick     265161
16       Montgomery    1051816
17  Prince George's     909612
20          Calvert      93072
21          Charles     164436
22       St. Mary's     114687
25         Allegany      70057
26          Garrett      28852
27       Washington     151146
30         Caroline      33492
31            Cecil     103419
32             Kent      19192
33     Queen Anne's      51167
34           Talbot      36972
37       Dorchester      31853
38         Somerset      25453
39         Wicomico     103990
40        Worcester      52403

In [103]:
pop.to_csv("populations-md.csv", index=False, encoding="utf-8")

In [104]:
vacc = pd.read_csv("vaccinations-md.csv")
vacc

,ObjectID,VaccinationDate,County,FirstDoseDaily,FirstDoseCumulative,SecondDoseDaily,SecondDoseCumulative,SingleDoseDaily,SingleDoseCumulative,AtLeastOneDose,FullyVaccinated,FullVaccinatedCumulative,AtLeastOneDoseCumulative,Total Cumulative Vaccinations
0,1,2020-12-14 15:00:00+00:00,Anne Arundel,2.0,2,NaN,0,NaN,0,NaN,NaN,0,2,2
1,2,2020-12-15 15:00:00+00:00,Anne Arundel,4.0,6,NaN,0,NaN,0,NaN,NaN,0,6,6
2,3,2020-12-16 15:00:00+00:00,Anne Arundel,56.0,62,NaN,0,NaN,0,NaN,NaN,0,62,62
3,4,2020-12-17 15:00:00+00:00,Anne Arundel,104.0,166,NaN,0,NaN,0,NaN,NaN,0,166,166
4,5,2020-12-18 15:00:00+00:00,Anne Arundel,181.0,347,NaN,0,NaN,0,NaN,NaN,0,347,347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8167,8168,2021-10-27 15:00:00+00:00,Prince George's,638.0,534539,703.0,478208,45.0,30906,683.0,748.0,509114,565445,1012747
8168,8169,2021-10-28 15:00:00+00:00,Prince George's,543.0,535082,721.0,478929,26.0,30932,569.0,747.0,509861,566014,1014011
8169,8170,2021-10-29 15:00:00+00:00,Prince George's,627.0,535709,793.0,479722,32.0,30964,659.0,825.0,510686,566673,1015431
8170,8171,2021-10-30 15:00:00+00:00,Prince George's,356.0,536065,458.0,480180,10.0,30974,366.0,468.0,511154,567039,1016245
8171,8172,2021-10-31 15:00:00+00:00,Prince George's,108.0,536173,135.0,480315,3.0,30977,111.0,138.0,511292,567150,1016488

In [105]:
vacc = vacc[["County", "FullyVaccinated"]]
vacc

               County  FullyVaccinated
0        Anne Arundel              NaN
1        Anne Arundel              NaN
2        Anne Arundel              NaN
3        Anne Arundel              NaN
4        Anne Arundel              NaN
...               ...              ...
8167  Prince George's            748.0
8168  Prince George's            747.0
8169  Prince George's            825.0
8170  Prince George's            468.0
8171  Prince George's            138.0

[8172 rows x 2 columns]

In [106]:
vacc = vacc.groupby("County").sum()
vacc

                 FullyVaccinated
County
Allegany                 20372.0
Anne Arundel            306453.0
Baltimore               411141.0
Baltimore City          277993.0
Calvert                  39852.0
Caroline                 11256.0
Carroll                  85399.0
Cecil                    35629.0
Charles                  73092.0
Dorchester               11283.0
Frederick               135666.0
Garrett                   6591.0
Harford                 121050.0
Howard                  191872.0
Kent                      6338.0
Montgomery              635221.0
Prince George's         461854.0
Queen Anne's             20979.0
Somerset                  7140.0
St. Mary's               40968.0
Talbot                   16329.0
Unknown                 160399.0
Washington               57963.0
Wicomico                 34257.0
Worcester                21048.0

In [107]:
pop = pop.set_index("Counties")
pop

                Population
Counties
Anne Arundel        582777
Baltimore           826017
Carroll             169092
Harford             256805
Howard              328200
Baltimore City      586131
Frederick           265161
Montgomery         1051816
Prince George's     909612
Calvert              93072
Charles             164436
St. Mary's          114687
Allegany             70057
Garrett              28852
Washington          151146
Caroline             33492
Cecil               103419
Kent                 19192
Queen Anne's         51167
Talbot               36972
Dorchester           31853
Somerset             25453
Wicomico            103990
Worcester            52403

In [108]:
vacc["Population"] = pop["Population"]
vacc

                 FullyVaccinated Population
County
Allegany                 20372.0      70057
Anne Arundel            306453.0     582777
Baltimore               411141.0     826017
Baltimore City          277993.0     586131
Calvert                  39852.0      93072
Caroline                 11256.0      33492
Carroll                  85399.0     169092
Cecil                    35629.0     103419
Charles                  73092.0     164436
Dorchester               11283.0      31853
Frederick               135666.0     265161
Garrett                   6591.0      28852
Harford                 121050.0     256805
Howard                  191872.0     328200
Kent                      6338.0      19192
Montgomery              635221.0    1051816
Prince George's         461854.0     909612
Queen Anne's             20979.0      51167
Somerset                  7140.0      25453
St. Mary's               40968.0     114687
Talbot                   16329.0      36972
Unknown                 160399.0        NaN
Washington               57963.0     151146
Wicomico                 34257.0     103990
Worcester                21048.0      52403

In [109]:
vacc["PercentVaccinated"] = vacc["FullyVaccinated"] / vacc["Population"]
vacc

                 FullyVaccinated Population PercentVaccinated
County
Allegany                 20372.0      70057          0.290792
Anne Arundel            306453.0     582777           0.52585
Baltimore               411141.0     826017          0.497739
Baltimore City          277993.0     586131          0.474285
Calvert                  39852.0      93072          0.428185
Caroline                 11256.0      33492           0.33608
Carroll                  85399.0     169092          0.505045
Cecil                    35629.0     103419          0.344511
Charles                  73092.0     164436          0.444501
Dorchester               11283.0      31853          0.354221
Frederick               135666.0     265161          0.511636
Garrett                   6591.0      28852          0.228442
Harford                 121050.0     256805          0.471369
Howard                  191872.0     328200          0.584619
Kent                      6338.0      19192          0.330242
Montgomery              635221.0    1051816          0.603928
Prince George's         461854.0     909612          0.507748
Queen Anne's             20979.0      51167           0.41001
Somerset                  7140.0      25453          0.280517
St. Mary's               40968.0     114687          0.357216
Talbot                   16329.0      36972          0.441659
Unknown                 160399.0        NaN               NaN
Washington               57963.0     151146           0.38349
Wicomico                 34257.0     103990          0.329426
Worcester                21048.0      52403          0.401656

In [110]:
import plotly.express as xp

In [111]:
xp.bar(vacc, x = vacc.index, y = "PercentVaccinated")